@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&display=swap');



body{
background-color: black;
color: aliceblue;
display:flex;
justify-content: center;
align-items: center;
font-family: "BBH Sans Bartle", sans-serif;
font-size: 18px;
}
main{
    text-align: center;
    max-width: 90%;
}

.passo{display: none;}

.passo.ativo{display:block;}




.img01{width: 90%;}

button{background-color: black;
    color:coral;
padding: 25px;}

